@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Cinzel', serif;
  }
}

body {
  margin: 0;
  background: #1b1f38;
  color: white;
}

/* Add smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom background image loading */
.bg-league {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
